<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header}}

		<!-- Nav -->
			{{> navbar}}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Algunas caracteristicas son:</h2>
							
						</header>
						<div class="content">
							<p>Los animales carnívoros según la especie pueden llegar a ser animales salvajes peligrosos para el hombre. El oso, por ejemplo puede matar a un hombre. Pero seguramente será para proteger a sus pequeños o para protegerse él, no para alimentarse de la carne. Raramente el hombre es una presa ansiada por este tipo de depredadores. La mayoría de los ataques de animales salvajes al hombre son para defenderse, creyéndose éstos en peligro.Existen ciertos animales salvajes que nos parecen menos peligrosos y pueden llegar a ser más indeseables para el hombre, cómo es el caso de las mofetas, por ejemplo.</p>

							<p>Los animales salvajes deben luchar por y para sobrevivir y la supervivencia les lleva a veces a cazar animales domésticos. El zorro es un animal temido en las granjas ya que ataca a las gallinas y a otros animales de la granja que son fáciles de capturar, ya que están en jaulas y no tienen muchas opciones para salvarse.Los animales salvajes son curiosos y como nos puede suceder a nosotros, se intrigan por lo que es nuevo para ellos. A veces puede suceder que al ver un humano sea la primera vez que es animal vea a un humano. Sus reacciones son y serán imprevisibles pero, en general, un animal salvaje buscará protegerse y esconderse cuando se encuentre ante algo desconocido.</p>

							<h2>Algunas diferencias son:</h2>

							<p>A veces se llaman domésticos a animales que en realidad son salvajes y que por capricho o modas encerramos en nuestras casas.</p>

							<p>Lo que se llama domesticación es un proceso muy largo que han sufrido algunas especies que tenían una predisposición para convivir con el hombre y ser así domesticado.</p>
							<p>El animal salvaje, no necesita ser alimentado o protegido por el hombre. Ni mucho menos necesita estar encerrado en una pecera, jaula o terrario. Los animales silvestres o salvajes no interactúan con el hombre. Por ello necesitan crecer libres en su propio hábitat cazando, criando y viviendo donde pertenecen.</p>

							<p>Si en realidad se ama una especie, se debería admirar libre, en su entorno, pudiendo hacer las cosas que hacen los seres de su especie ¿qué sentido tiene tener una pobre serpiente en casa? Ese animal merece vivir libre en su desierto o pantano sin que ningún humano lo someta para recrearse con ella.</p>
						</div>
						<footer>
							
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer}}

	</body>
</html>