<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header}}

		<!-- Nav -->
			{{> navbar}}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banne.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>¿Que es un animal salvaje?</h2>
							
						</header>
						<div class="content">
							<p>Se conoce como animal salvaje a aquél que vive en libertad, ya sea sobre la superficie terrestre, en el agua o volando. La denominación refiere a las especies que no han sido domesticadas: por lo tanto, un perro callejero no suele considerarse como un animal salvaje</p>

							<p>Por ejemplo: “Si quieres ver cómo se comportan los animales salvajes, te sugiero viajar a África”, “Nunca había visto cómo un animal salvaje acecha a su presa”, “Algunas personas son inconscientes y pretenden transformar a un animal salvaje como el león en una mascota”.</p>

							<p>Dentro de ciertos límites, los animales salvajes son susceptibles de ser atrapados, pescados o cazados. De todas maneras, actividades como la pesca o la caza se encuentran reglamentadas por la ley y suelen ser objeto de críticas por parte de las asociaciones que defienden los derechos de los animales.</p>

							<p>Los animales salvajes, por otra parte, viven en una libertad relativa ya que su ámbito suele limitarse a una cierta extensión territorial, protegida como reserva natural, parque nacional, etc. En caso de que un animal salvaje se desplace más allá de su entorno habitual y llegue a una ciudad, lo normal es que sea capturado por las autoridades y devuelto a su hábitat.</p>

							
						</div>
						<footer>
							
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer}}

	</body>
</html>