<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ titulo }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			{{> header }}

		<!-- Nav -->
		{{> navbar }}

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>Animales Salvajes</h1>
					</header>
				</div>
				<a href="#one" class="more">Leer Mas</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Tigre de vengala</h2>
							
						</header>
						<div class="content">
							<p>El tigre de Bengala es un tigre de una población específica de la subespecie Panthera tigris tigris que es nativa del subcontinente indio. Está amenazada por la caza furtiva, la pérdida y la fragmentación del hábitat, y se estimó que comprendía menos de 2.500 individuos silvestres en 2011</p>
						</div>
						<footer>
							
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Learn More</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Cocodrilo</h2>
							
						</header>
						<div class="content">
							<p>La familia de los cocodrilos Crocodylidae incluye a los cocodrilos, que son miembros de la subfamilia Crocodylinae, así como potencialmente al falso gavial, la única especie existente de la subfamilia Tomistominae. Este último sigue siendo problemático en cuanto a si es un cocodrilo o pertenece a la familia Gavialidae</p>
						</div>
						<footer>
							
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Serpiente verde aspera</h2>
							
						</header>
						<div class="content">
							<p>Opheodrys aestivus, comúnmente conocida como la serpiente verde áspera, es un colúbrido norteamericano no venenoso. A veces se le llama culebra verde o culebra verde, pero estos nombres se aplican más comúnmente a la culebra verde lisa. El colúbrido europeo llamado culebra no está relacionado</p>
						</div>
						<footer>
							
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Oso Pardo</h2>
							
						</header>
						<div class="content">
							<p>El oso pardo es una especie de oso grande que se encuentra en Eurasia y América del Norte. En América del Norte, las poblaciones de osos pardos se llaman osos grizzly, mientras que la subespecie que habita en las islas Kodiak de Alaska se conoce como oso Kodiak</p>
						</div>
						<footer>
							
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
		{{> footer }}

	</body>
</html>